@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body{
    background-color: #d6cacadd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.active{
    color: rgb(206, 33, 192);
    font-weight: bold;
    text-decoration: underline;
}
body,html{
    overflow-x: hidden;
}

/* navbar*/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(39, 55, 88);

}

.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
header {
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.header-content{
    margin-bottom: 150px;
    color: rgb(10, 5, 5);
    text-align: center;

}
.header-content h2{
    font-size: 5vmin;
}
.line{
    width: 150px;
    height: 4px;
    background-color: rgb(216, 203, 15);
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background-color: rgb(171, 39, 204);
    border-radius: 30px;
    color: black;
}   

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px; 
    width: 40px;
    cursor: pointer;
    display: none;
    border-radius: 10%;

}
section{
    width: 80%;
    margin: 80px auto;
}
.title{
   text-align: center;
   font-size: 4vmin;
   color: darkred; 
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events.row{
    margin-top: 50px;

}
h4{
    font-size: 3vmin;
    color: rgb(11, 109, 11);
    margin: 10px auto;
}
p{
    color: black;
    margin: 20px auto;
    padding: 0px 40px;
}
.events.ctn{
    margin-top: 30px;
}
.explore{
    width: 100%;
    height: 80vh;
    background-image: url(./img/mg4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    align-items: center;
    
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
       font-size: 7vmin;
       margin: 30px;
       display: flex;
       text-align: center;
      
}
.explore-content.line{
    margin-bottom: 50px;    
}
.explore-content p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

.explore-content .ctn{
    margin-top: 40px;
}
.content-col{
    width: 40%;
}
.mages-col{
    width: 60%;
}
.toure .mages-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

}
.mages-gallery img{
   max-width: 150px;
    margin: 10px;

}
.content-col h1{
    font-size: 5vmin;
    color: crimson;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn{
    margin-left: -100px;
}

footer{
   width: 100%;
   height: 100px;
   padding-top: 0%;
   padding-bottom: 20px;
  
   background-color: dimgray; 
   text-align: center;
   display: flex;
   background-size: cover;
   
}
footer p{
    color: black;
    
   
}


/* mobile*/
@media only screen and (max-width: 850px)
{
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(34, 205, 211);
        margin-top: -900px;
        transition: all 0.0s ease;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
    }

    
}